@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;

  @media screen and (max-width: 1000px) {
    font-size: 85%;
  }
  @media screen and (max-width: 500px) {
    font-size: 70%;
  }
}

body {
  width: 100%;
  display: flex;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

section {
  width: 55%;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;

  #logo {
    margin-top: 5rem;
    margin-bottom: 8rem;

    @media screen and (max-width: 1000px) {
      position: absolute;

      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-left: 3rem;

      min-height: 10vh;
      width: 100%;
      display: flex;
      align-items: center;
    }
  }

  .description {
    @media screen and (max-width: 1000px) {
      position: absolute;
      top: 40vh;
      height: 40vh;
      max-width: 60rem;
      left: 50%;
      transform: translateX(-50%);

      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 3rem;
    }
  }

  h1 {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 4.2rem;
    letter-spacing: 1rem;
    line-height: 1.1;
    margin-bottom: 1rem;

    span {
      color: $desaturatedRed;
      font-weight: 300;
    }
  }

  p {
    font-size: $fontSize;
    font-family: inherit;
    color: $desaturatedRed;
    line-height: 1.5;
    margin-bottom: 3rem;
  }

  .email_input {
    position: relative;

    .error {
      position: absolute;
      top: 30%;
      right: 30%;
      @media screen and (max-width: 1000px) {
        top: 32%;
      }
      @media screen and (max-width: 500px) {
        top: 26%;
      }
    }

    .inactive {
      display: none;
    }

    .active {
      display: block;
    }

    @media screen and (max-width: 1000px) {
      position: absolute;
      top: 80vh;
      height: 20vh;
      max-width: 28rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  form input,
  button {
    outline: none;
    border: none;
    padding: 1.2rem 2rem;
    border-radius: 5rem;
    @media screen and (max-width: 1000px) {
      padding: 1.5rem 2rem;
      margin-top: 3rem;
    }
  }

  input[type="email"] {
    background: transparent;
    border: 1px solid $desaturatedRed;
    width: 25rem;
    font-family: inherit;
    font-size: 1.1rem;

    @media screen and (max-width: 1000px) {
      width: 25rem;
    }

    &::placeholder {
      color: $desaturatedRed;
      opacity: 0.5;
    }
  }

  form .inputError {
    border: 1px solid red;
  }

  button[type="submit"] {
    position: absolute;
    right: 1rem;
    width: 6rem;
    background: $secondGradient;
    padding: 0.9rem 1rem;
    cursor: pointer;
    box-shadow: -3px 2px 6px $desaturatedRed;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.05);
      background: $hoverGradient;
    }

    &:active {
      transform: scale(1);
    }

    @media screen and (max-width: 1000px) {
      padding: 1.1rem 1rem;
      right: 0rem;
    }
    @media screen and (max-width: 500px) {
      right: 0rem;
      padding: 0.9rem 1rem;
    }
  }
}

section > * {
  margin: auto;
  max-width: 28rem;

  @media screen and (max-width: 1000px) {
    max-width: 100%;
  }
}

aside {
  width: 45%;
  height: 100vh;
  background-image: url("../images/hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 1000px) {
    position: absolute;
    top: 10vh;
    height: 30vh;
    width: 100%;

    background-image: url("../images/hero-mobile.jpg");
  }
}
