@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: flex;
}

section {
  width: 55%;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;

  .description {
    max-width: 35rem;
  }

  h1 {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 5rem;

    letter-spacing: 1rem;
    line-height: 1.1;

    span {
      color: $desaturatedRed;
      font-weight: 300;
    }
  }
}

aside {
  width: 45%;
  height: 100vh;
  background-image: url("../images/hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
