* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 70%;
  }
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1000px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section {
  width: 55%;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

section #logo {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

@media screen and (max-width: 1000px) {
  section #logo {
    position: absolute;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-left: 3rem;
    min-height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  section .description {
    position: absolute;
    top: 40vh;
    height: 40vh;
    max-width: 60rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 3rem;
  }
}

section h1 {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 4.2rem;
  letter-spacing: 1rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}

section h1 span {
  color: #ce9797;
  font-weight: 300;
}

section p {
  font-size: 1rem;
  font-family: inherit;
  color: #ce9797;
  line-height: 1.5;
  margin-bottom: 3rem;
}

section .email_input {
  position: relative;
}

@media screen and (max-width: 1000px) {
  section .email_input {
    position: absolute;
    top: 80vh;
    height: 20vh;
    max-width: 28rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

section form input,
section button {
  outline: none;
  border: none;
  padding: 1.2rem 2rem;
  border-radius: 5rem;
}

@media screen and (max-width: 1000px) {
  section form input,
  section button {
    padding: 1.5rem 2rem;
    margin-top: 3rem;
  }
}

section form input[type="email"] {
  background: transparent;
  border: 1px solid #ce9797;
  width: 25rem;
  font-family: inherit;
  font-size: 1.1rem;
}

@media screen and (max-width: 1000px) {
  section form input[type="email"] {
    width: 25rem;
  }
}

section form input[type="email"]::-webkit-input-placeholder {
  color: #ce9797;
  opacity: 0.5;
}

section form input[type="email"]:-ms-input-placeholder {
  color: #ce9797;
  opacity: 0.5;
}

section form input[type="email"]::-ms-input-placeholder {
  color: #ce9797;
  opacity: 0.5;
}

section form input[type="email"]::placeholder {
  color: #ce9797;
  opacity: 0.5;
}

section button[type="submit"] {
  position: absolute;
  right: 1rem;
  width: 6rem;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  padding: 0.9rem 1rem;
  cursor: pointer;
  -webkit-box-shadow: -3px 2px 6px #ce9797;
          box-shadow: -3px 2px 6px #ce9797;
}

@media screen and (max-width: 1000px) {
  section button[type="submit"] {
    padding: 1.1rem 1rem;
    right: 0rem;
  }
}

@media screen and (max-width: 500px) {
  section button[type="submit"] {
    right: 0rem;
    padding: 0.9rem 1rem;
  }
}

section > * {
  margin: auto;
  max-width: 28rem;
}

@media screen and (max-width: 1000px) {
  section > * {
    max-width: 100%;
  }
}

aside {
  width: 45%;
  height: 100vh;
  background-image: url("../images/hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  aside {
    position: absolute;
    top: 10vh;
    height: 30vh;
    width: 100%;
    background-image: url("../images/hero-mobile.jpg");
  }
}
/*# sourceMappingURL=style.css.map */